*{
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  scroll-behavior: smooth;
  }
body{
  background-color: #eceae3;
}
#imagecover .navbar{
  position: absolute;
  display: flex;
  background-color: #00000030;
  text-align: center;
  font-size: 1.2em;
  width: 100%;
  justify-content: flex-end;
  align-items: center;
  padding: 50px;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
  top: 0;
}
#imagecover .navbar li{
  top: 0;
}
#imagecover img{
  display: none;
}
#imagecover .navbar .nav-links ul{
    display: flex;
    font-size: 1em;
    font-weight: bold;
}
#imagecover .navbar .nav-links ul li{
    margin: 0 25px;
    color: white;
}
  #imagecover .navbar .nav-links ul li a{
    color: white;
  }
#imagecover .navbar .nav-links ul li a:hover{
      color: #fecb7e;
    }
#imagecover .navbar .nav-links ul li.active a{
    color: #fecb7e;
    font-weight: 1.2em;
  }
#imagecover .navbar .nav-links ul li a:visited {
  color: #fecb7e;
}

#imagecover{
  background-image: url(https://images.unsplash.com/photo-1484807352052-23338990c6c6?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070&q=80);
  height: 100vh;
  width: 100vw;
  background-position: center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  position: relative;
  background-repeat: no-repeat;
}
#imagecover h1{
  position: absolute;
  font-size: 2.5em;
  color: white;
  align-items: center;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  z-index: 0;
  line-height: 110px;
  letter-spacing: 0.5rem;
  border-radius: 10px;
  border: white;
  background-color: #00000052;
  padding: 40px;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  z-index: 0
  }

}
#imagecover h2{
  position: absolute;
  font-size: 2em;
  color: white;
  justify-content: center;
  font-family: 'Montserrat', sans-serif;
  margin-top: 250px;
}

#cv{
  position: absolute;
  top: 40px;
  color: white;
  font-family: 'Montserrat', sans-serif;
  font-size: 1.5em;
  font-weight: bold;
  right: 8px;
  top: 74px;
}
#cv:hover{
  color: #fecb7e
}
#imagecover .pulse-anim{
  position: absolute;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background-color: #000;
  margin-top: 110px;
  box-shadow: 0 0 0 0 #000;
  animation: pulse 1.3s infinite;
  top: 750px;
}
@keyframes pulse{
  to{
    box-shadow: 0 0 0 18px rgba(0,0,0,0.01);
  }
}


#imagecover .pulse:hover{
  background: white;
  color: black;
  font-weight: bold;
}

#imagecover .navbar .menu-hamburger{
  display: none;
  position: absolute;
  top: 50px;
  right: 50px;
  width: 35px;
}

#bloc{
  display: flex;
  flex-direction: row;
  flex-wrap:wrap;
  justify-content: space-between;
  padding: 50px;
  box-sizing: border-box;
}

#bloc .carte1{
  margin-top: 20px;
  padding-top: 20px;
  box-sizing: border-box;
  border-radius: 10px;
  width: 48%;
  font-family: 'Sorts Mill Goudy', serif;
  font-size: 1.2em;
  background-color:#f6f3f1f5;
}
.carte1 .logos{
  padding-top: 15px;
  padding-bottom: 15px;
}
#bloc .carte2{
  margin-top: 20px;
  padding-top: 20px;
  box-sizing: border-box;
  border-radius: 10px;
  width: 48%;
  font-family: 'Sorts Mill Goudy', serif;
  font-size: 1.2em;
  background-repeat: no-repeat;
  background-size: 100%;
  background-color:#f6f3f1f5;
  }









#bloc{
  display: flex;
  flex-direction: row;
  flex-wrap:wrap;
  justify-content: space-between;
  padding: 50px;
  box-sizing: border-box;
}

#bloc .carte3{
  margin-top: 20px;
  padding-top: 20px;
  padding-right: 20px;
  box-sizing: border-box;
  border-radius: 10px;
  flex-grow: 1;
  font-family: 'Sorts Mill Goudy', serif;
  font-size: 1.5em;
  background-color:#f6f3f1f5;
  background-size: 100%;
  width: 100%;
}
#bloc .carte1 h2{
  color: #fecb7e;
  text-align: center;
  background-color: black;
}
#bloc .carte2 h2{
  color:#fecb7e;
  text-align: center;
  background-color: black;
}
#bloc .carte3 h2{
  color: #fecb7e;
  text-align: center;
  background-color: black;
}
 .scroller{
  overflow-x: scroll;
  scrollbar-color: yellow black;
  scrollbar-width: thin;
}

#bloc ul{
  padding-left: 50px;
  padding-top: 41px;
  font-size: 1em;

}
#bloc img{
  padding-top: 20px;
  width: 12%;
}
.timeline{
  width: 3000px;
  height: 67px;
  list-style: none;
  text-align: justify;
  margin: 200px auto;
	background: linear-gradient(to bottom, rgba(255,255,255,0) 0%, rgba(255,255,255,0) 45%, rgba(191,128,11,1) 51%, rgba(255,255,255,0) 57%, rgba(255,255,255,0) 100%);
}
.timeline:after{
  display: inline-block;
  content: "";
  width: 100%;
}
.timeline li{
  display: inline-block;
  width: 20px;
  height: 20px;
  text-align: center;
  line-height: 1.2;
  position: relative;
  border-radius: 50%;
  background: #F2BB13;
}
.timeline li:before{
  display: inline-block;
  content: attr(data-year);
  font-size: 26px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}
.timeline li:nth-child(odd):before{
  top:-40px;
}
.timeline li:nth-child(even):before{
  bottom: -40px;
}

.timeline li:after {
	display: inline-block;
	content: attr(data-text);
	font-size: 16px;
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
}
.timeline li:nth-child(odd):after {
	bottom: 0;
	margin-bottom: -10px;
	transform: translate(-50%, 100%);
}
.timeline li:nth-child(even):after {
	top: 0;
	margin-top: -10px;
	transform: translate(-50%, -100%);
}
.carte1.logo img{
  width: 2%;
}
.footer{
  text-align: center;
  font-family: 'Sorts Mill Goudy', serif;
  font-size: 1.5em;
  background-color: #000000f0;
}


.footer .lienscontact img{
  width:3%;
  height: 1%;
  padding: 60px;
  background-color: #0000000;
}


@media screen and (max-width: 480px){

#imagecover .navbar{
  padding: 0;
  }
  #imagecover .navbar .menu-hamburger{
    display: block;
  }
  #imagecover img{
    position: absolute;
    top: 0;
    right: 20px;
    display: block;
    z-index: 1;}



.nav-links{
    display: none;
  }

 .mobile-menu{
    margin-left: 0px;
    position: absolute;
    /* background-color: white; */
    backdrop-filter: blur(7px);
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: width 2s ease;
    z-index: 1;
  }

  #imagecover .nav-links ul {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  #imagecover .navbar .nav-links ul li{
    margin: 25px;
    font-size: 1.2em;
  }
#bloc{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  font-size: 1em;
  justify-content: center;
  align-items: center;
  padding: 10px;
}
.carte1{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;

}
}
