*{
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  }

#imagecover{
  background-image: url(https://images.unsplash.com/photo-1484807352052-23338990c6c6?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070&q=80);
  height: 100vh;
  width: 100%;
  background-position: center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  position: relative;
  background-repeat: no-repeat;
}
#imagecover h1{
  position: absolute;
  font-size: 3em;
  color: white;
  align-items: center;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  }
#imagecover h2{
  position: absolute;
  font-size: 2em;
  color: white;
  justify-content: center;
  font-family: 'Montserrat', sans-serif;
  margin-top: 250px;
}
#imagecover h1, h2{
  border-radius: 10px;
  border: white;
  background-color: #00000052;
  padding: 15px;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
}

#imagecover .bouton{
  border-radius: 10px;
  border: white;
  background-color: #00000052;
  padding: 15px;
  margin-top: 460px;
  text-align: center;
  font-size: 1.5rem;
  color: white;
  font-family: 'Montserrat', sans-serif;
}

#imagecover .bouton:hover{
  background: white;
  color: black;
  font-weight: bold;
}

.navbar{
  display: flex;
  background-color: black;
  text-align: center;
  font-size: 1em;
  width: 100%;
  justify-content: space-around;
  align-items: center;
  height: 100px;
  font-family: 'Montserrat', sans-serif;
}

#bloc{
  display: flex;
  flex-direction: row;
  flex-wrap:wrap;
  justify-content: space-between;
  padding: 50px;
  box-sizing: border-box;
}
#bloc .carte1{
  border-radius: 10px;
  width: 48%;
  font-family: 'Sorts Mill Goudy', serif;
  font-size: 1.5em;
  background-image: url(https://image.shutterstock.com/image-illustration/white-background-260nw-114461833.jpg);
  background-size: 100%;
  background-repeat: no-repeat;
}
#bloc .carte2{
  border-radius: 10px;
  width: 48%;
  font-family: 'Sorts Mill Goudy', serif;
  font-size: 1.5em;
  background-repeat: no-repeat;
  background-size: 100%;
  background-image: url(https://image.shutterstock.com/image-illustration/abstract-background-260nw-191947724.jpg);
  }
#bloc .carte3{
  margin-top: 20px;
  border-radius: 10px;
  flex-grow: 1;
  font-family: 'Sorts Mill Goudy', serif;
  font-size: 1.5em;
  background-image: url(https://media.istockphoto.com/photos/abstract-background-picture-id499935926?k=6&m=499935926&s=612x612&w=0&h=gMz4-_1x69VWZLk1bcjqZTgAAxZ00Yjx2xmtHyNOb-I=);
  background-repeat: no-repeat;
  background-size: 100%;
  width: 100%;
}
#bloc .carte1 h2{
  color: #fecb7e;
}
#bloc .carte2 h2{
  color: #fecb7e;
}
#bloc .carte3 h2{
  color: #fecb7e;
}
 .scroller{
  overflow-x: scroll;
  scrollbar-color: yellow black;
  scrollbar-width: thin;
}

#bloc ul{
  padding-top: 20px;
  padding-left: 50px;

}
#bloc img{
  padding-top: 20px;
  width: 12%;
}
.timeline{
  width: 3000px;
  height: 45px;
  list-style: none;
  text-align: justify;
  margin: 200px auto;
	background: linear-gradient(to bottom, rgba(255,255,255,0) 0%, rgba(255,255,255,0) 45%, rgba(191,128,11,1) 51%, rgba(255,255,255,0) 57%, rgba(255,255,255,0) 100%);
}
.timeline:after{
  display: inline-block;
  content: "";
  width: 100%;
}
.timeline li{
  display: inline-block;
  width: 20px;
  height: 20px;
  text-align: center;
  line-height: 1.2;
  position: relative;
  border-radius: 50%;
  background: #F2BB13;

}
.timeline li:before{
  display: inline-block;
  content: attr(data-year);
  font-size: 26px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}
.timeline li:nth-child(odd):before{
  top:-40px;
}
.timeline li:nth-child(even):before{
  bottom: -40px;
}

.timeline li:after {
	display: inline-block;
	content: attr(data-text);
	font-size: 16px;
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
}
.timeline li:nth-child(odd):after {
	bottom: 0;
	margin-bottom: -10px;
	transform: translate(-50%, 100%);
}
.timeline li:nth-child(even):after {
	top: 0;
	margin-top: -10px;
	transform: translate(-50%, -100%);
}
.carte1.logo img{
  width: 2%;
}
.footer{
  text-align: center;
  font-family: 'Sorts Mill Goudy', serif;
  font-size: 1.5em;
  background-color: #fecb7e;
}

.footer .lienscontact{
  justify-content: center;
  align-items: center;
}
.footer .lienscontact img{
  width:3%;
  height: 2%;
}


@media screen and (max-width: 900px){

#bloc{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  font-size: 1em;
  justify-content: center;
  align-items: center;
  padding: 10px;
}
.carte1{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;

}

.navbar{
  display: flex;

}
